.container-fluid .section2 {
    background-image: url("https://www.wsupercars.com/wallpapers-regular/Mercedes-Benz/2024-Mercedes-AMG-A45-S-Limited-Edition-004-2160.jpg");
    background-size: cover;

}
.container-fluid .section1 {
    background-image: url("https://img.freepik.com/free-vector/abstract-desktop-background-white-geometric-design-vector_53876-140225.jpg?t=st=1725496708~exp=1725500308~hmac=f071339a0c490440f92e1fa685fa6ca865f3b3f53383be8");
    background-size: cover;

}
